.hero {
	background-color: #c4c4c4;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bitmap/hero-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;

	@media screen and (max-width: 1199px) {
		padding: 118px 0;
	}
	@media screen and (min-width: $desktop) {
		padding: 200px 0;
		// margin-right: auto;
		// margin-left: auto;
		max-width: 1600px;
	}
}

.hero__title {
	margin-bottom: $cardSetGap;
	max-width: 696px;
	text-align: center;

	font-weight: 900;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	font-size: 26px;
	line-height: 1.62;

	color: $rareTextColor;
}

// 	&__container {
// 		display: flex;
// 		flex-direction: column;
// 		align-items: center;
// 	}

.hero__btn {
	@extend %btn;
	padding-left: 24px;
	padding-right: 24px;
}
