.hero {
	padding: 200px 0;
	margin-right: auto;
	margin-left: auto;

	max-width: 1600px;

	background-color: #c4c4c4;
	color: $rareTextColor;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bitmap/hero-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		margin-bottom: $cardSetGap;
		max-width: 696px;
		text-align: center;

		font-weight: 900;
		font-size: 44px;
		line-height: 1.4;
		letter-spacing: 0.06em;
		text-transform: uppercase;
	}
}

.hero__btn {
	@extend %btn;
	padding-left: 32px;
	padding-right: 32px;
}
