.checkbox-wrapper {
	padding: 0 12px;
	margin-bottom: 30px;
}

.checkbox-wrapper__checkbox {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.checkbox-wrapper__label {
	position: relative;
	display: flex;
	align-items: center;

	font-size: 14px;
	line-height: 1.71;

	color: $primaryTextColor;
}

.checkbox-wrapper__link {
	color: $accentColor;
}

.checkbox-wrapper__icon {
	display: inline-block;
	margin-right: 8px;

	width: 16px;
	height: 15px;
	border: 2px solid $formIconColor;
	border-radius: 2px;
	transition: $transitionBgc, $transitionBorder;

	&--checked {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);

		border-color: transparent;
	}

	.checkbox-wrapper__checkbox:checked + & {
		background-color: $accentColor;
		border-color: $accentColor;
	}

	.checkbox-wrapper__checkbox:focus + & {
		border-color: $accentColor;
	}
}
