.address-thumb {
	@media screen and (max-width: 1199px) {
		margin-bottom: 60px;
	}
	// margin-right: 70px;
}

.address {
	margin-top: 20px;
}

.address__list {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}

.address__link {
	font-size: 14px;
	line-height: 1.71;

	color: $secondaryTextColor;
	transition: $transitionColor;

	&--white {
		color: $rareTextColor;
	}
}
