.contacts-list {
	@extend .nav;
	margin-left: auto;
	gap: 50px;
}

.contacts-list__link {
	display: flex;
	align-items: center;

	transition: $transitionColor;

	letter-spacing: 0.02em;
	color: $primaryTextColor;
}

.contacts-list__icon {
	display: inline-block;
	margin-right: 10px;

	fill: currentColor;
}
