.page-header {
	@media screen and (max-width: 767px) {
		padding: 10px 0;
	}
}

.menu__btn {
	@media screen and (max-width: 767px) {
		display: inline-block;
		padding: 0;
		background-color: transparent;
		border: none;
	}
	@media screen and (min-width: $tablet) {
		display: none;
	}
}

.page-header {
	// font-weight: 500;
	// font-size: 14px;
	// line-height: 1.14;

	border-bottom: $headerBorder;
}

.page-header__container {
}

// .page-header__container {
// 	display: flex;
// 	align-items: center;
// }
