.page-header {
	background-color: $primaryBgc;
	border-bottom: $headerBorder;
	@media screen and (max-width: 767px) {
		position: relative;
		padding: 10px 0;
	}
}

.page-header__container {
	display: flex;
	align-items: center;

	@media screen and (max-width: 767px) {
		justify-content: space-between;
	}
}

.menu-container {
	@media screen and (min-width: $tablet) {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		width: 100%;
	}
}
