.page-header {
	background-color: $primaryBgc;
	@media screen and (max-width: 767px) {
		position: relative;
		padding: 10px 0;
	}
}

.page-header {
	// font-weight: 500;
	// font-size: 14px;
	// line-height: 1.14;

	border-bottom: $headerBorder;
}

.page-header__container {
	display: flex;
	align-items: center;

	@media screen and (max-width: 767px) {
		justify-content: space-between;
	}
}

// .page-header__container {
// 	display: flex;
// 	align-items: center;
// }
