.site-nav {
	@extend .nav;

	display: flex;
	gap: 50px;
}

.site-nav__item {
	position: relative;
}
.site-nav__link {
	display: block;
	padding: 32px 0;

	color: $titleTextColor;
	letter-spacing: 0.02em;

	transition: $transitionColor;
}

.site-nav__link--current {
	color: $accentColor;

	&::after {
		position: absolute;
		bottom: -1px;
		left: 0;
		content: '';

		width: 100%;
		height: 4px;
		border-radius: 2px;

		animation: changeScale $transitionModal;

		background-color: $accentColor;
	}
}
