.subscription-form__wrapper {
	display: flex;
}

.subscription-form__input {
	display: block;
	margin-right: 12px;
	padding: 14px 16px;

	min-width: 358px;

	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.03em;

	color: $secondaryTextColor;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	transition: $transitionBorder;

	&::placeholder {
		font-size: 16px;
		line-height: 1.25;
		letter-spacing: 0.03em;

		color: $secondaryTextColor;
	}

	&:focus,
	&:focus {
		border: 1px solid $accentColor;
	}
}

.subscription-form__submit {
	@extend %btn;
	display: flex;
	align-items: center;
	padding-left: 28px;
	padding-right: 28px;
}

.subscription-form__icon {
	margin-left: 10px;
}
